{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4 offset-2">


      <h2>{% trans "Login" %}</h2>


      <p>{% blocktrans %}Wants to be apart of the conversation?
        if you have not done so then
        <a class="link" href="{{ signup_url }}">sign up</a>{% endblocktrans %} here!</p>

    </div>
  </div>
</div>

  <div class="row g-3">
    
      <div class="col-3 offset-2 mt-5">
        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="login">
      </div>
      <div class="col-3 mt-5">
        <input type="password" class="form-control" placeholder="Password" aria-label="password" name="password">
      </div>
      <div class="col-2 mt-5">
        <button class="btn btn-signup">Sign in</button>
      </form>
      </div>
    
  </div>


{% endblock %}
