{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mt-3 offset-2 text-center">
      <div class="card blue-card">
        <h2>{% trans "Sign Up" %}</h2>
        <p>{% blocktrans %}Already have an account? Then please <a class="link" href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</p>
        <div class="col-md-6 offset-4">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.non_field_errors | safe }}
            <input type="hidden" name="remember" value="true">
            <div class="col-md-8 mt-3">
              {{ form.username.errors | safe }}
              <label class="sr-only">Username</label>
              <input type="text" name="username" placeholder="Username" class="form-control" required id="id_username"
                autocomplete="username">
            </div>
            <div class="col-md-8 mt-3">
              {{ form.email.errors | safe }}
              <label class="sr-only">Username</label>
              <input type="email" name="email" placeholder="Email (Optional)" class="form-control" autocomplete="email">
            </div>
            <div class="col-md-8 mt-3">
              {{ form.password1.errors | safe }}
              <label class="sr-only">Password</label>
              <input type="password" name="password1" placeholder="Password" class="form-control" required
                id="id_password1" autocomplete="new-password">
            </div>
            <div class="col-md-8 mt-3">
              {{ form.password2.errors | safe }}
              <label class="sr-only">Password</label>
              <input type="password" name="password2" placeholder="Repeat Password" class="form-control" required
                id="id_password2" autocomplete="new-password">
            </div>
            <div class="col-md-8 mt-3 mb-2">
              <button class="btn btn-signup" type="submit" aria-label="Sign up">Sign Up &raquo;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
