body {
    color: #e7e7e7;
}

nav{
    background-color: #102b3f;
}

.nav-link{
    text-decoration: none;
    color: #e7e7e7;
}

#logo{
    text-decoration: none;
    color: #e7e7e7;
    font-size: 30px;
}

footer, .card-title, .card-text{
    color: #102b3f;
}

.footer-icon {
    color: #102b3f;
    font-size: 24px;
}

.card-img-bottom{
    max-height: 200px;
    object-fit: cover;
}

.card-subheading{
    margin: 0;
}
