body {
    background-color: #e7e7e7;
    color: #102b3f;
    padding: 0;
}

nav{
    background-color: #102b3f;
}

.nav-link{
    text-decoration: none;
    color: #e7e7e7;
    line-height: 2;
    font-size: 18px
}

.nav-profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.navbar-toggler-icon{
    color: #e7e7e7;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231,231,231, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar-toggler{
    border: 2px solid #e7e7e7;
}

.profile-link{
    line-height: 1.5;
    font-size: 20px
}

.dropdown-toggle{
    padding-top: 2px;
    padding-bottom: 2px;
}

.dropdown{
    float: right;
}

.search-bar{
    height: 40px;
    margin-top: 6px;
    width: 400px;
}

.dropdown{
    margin-right: 10px;
}


#logo{
    text-decoration: none;
    color: #e7e7e7;
    font-size: 30px;
}

footer, .card-title, .card-text{
    color: #102b3f;
    text-decoration: none;
}

.footer-icon {
    color: #102b3f;
    font-size: 24px;
}

.card-img-bottom{
    max-height: 200px;
    object-fit: cover;
}

.card-subheading{
    margin: 0;
}

.post-link{
    text-decoration: none;
}

.post-title, .post-content{
    margin: 0;
}

.comments{
    background-color: #e2cfea;
}

.btn-logout, .btn-signup, .btn-signin{
    background-color: #102b3f;
    color: #e7e7e7;
}

.btn-signup:hover, .btn-logout:hover, .btn-signup:hover, .btn-signin:hover{
    background-color: #e7e7e7;
    color: #102b3f;
    border: 1px solid #102b3f;
}

.btn-search{
    color: #e7e7e7;
}

.btn-search:hover{
    color: #e7e7e7;
    background-color: #102b3f;
    border: 1px solid #e7e7e7;
}

.btn-create-post{
    width: 150px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    transition: all 0.2s ease 0s;
    border-radius: 50px;
}

.btn-create-post:hover{
    background-color: #a06cd5;
    box-shadow: 0px 15px 20px rgba(98, 71, 170, 0.4);
    color: #fff;
    transform: translateY(-6px);
}

.btn-thumbs{
    padding: 0;
}

.link{
    color: #a06cd5;
}

.link:hover {
    color: #6247aa;
}

.thumbs-up{
    font-size: 50px;
}

.thumbs-down{
    font-size: 50px;
    margin-left: 20px;
}

.thumbs:hover{
    transform: scale(1.2);
}

.thumbs{
    font-size: 50px;
}

.post-profile-picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.post-comment-picture{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-picture{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.user-profile-title, .user-profile-bio, .user-profile-socials{
    margin-left: 5px;
}

.featured-image{
    max-height: 300px;
    max-width: 100%;
    /* object-fit: contain; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-img-bottom{
    height: 330px;
}

.edit-icon{
    font-size: 25px;
    text-decoration: none;
    color: #102b3f;
    margin-left: 5px;
}

.edit-icon:hover{
    transform: scale(1.3);
}

.edit-post{
    float: right;
}


.num-of-votes{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.num-of-votes-vertical{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.num-of-votes-horizontal{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.post-section{
    height: 330px;
    padding: 0;
}

.post-votes-section{
    height: 330px;
    display: grid;
    place-items: center;
    padding: 0;
}

.votes-section{
    height: 100px;
    display: grid;
    place-items: center;
}

.vertical-votes{
    position: relative;
    top: 20px;
}

.vertical-vote-icons{
    position: relative;
    top: 10%;
}

.horizontal-votes{
    position: relative;
    bottom: 15px;
}

.horizontal-icons{
    margin: auto;
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-votes-section{
    height: 330px;
}

.profile-post-section{
    height: 330px;
}

.success{
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}



@media (max-width: 575.98px) { 
    .dropdown-menu.show{
        width: 80%;
    }

    .search-bar{
        width: 80%;
    }

    .edit-icon{
        font-size: 20px;
    }

    .post-subtitle{
        font-size: 15px;
    }

 }