{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Gamers Central</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo" href="{% url 'home' %}">Gamers Central</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <form class="d-flex search-bar justify-content-center" role="search" method="POST" action="{% url 'post_search' %}">
                        {% csrf_token %}

                        <input class="form-control me-2" type="search" placeholder="Search Posts" aria-label="Search"
                            name="searched">
                        <button class="btn btn-search" type="submit">Search</button>
                    </form>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <li><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{{ user.userprofile.profile_picture.url }}" alt="Logo"
                                class="d-inline-block nav-profile-picture">
                            <span class="profile-link">
                                {{ user }}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.userprofile.id %}
                            <li><a class="dropdown-item" href="{% url 'view_profile' user.userprofile.id %}">Profile</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'edit_profile' user.userprofile.id %}">Edit
                                    Profile</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'create_profile' %}">Create Profile</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'edit_user' %}">Settings</a></li>
                        </ul>
                    </li>
                    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissible fade show" id="msg" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">&copy; 2022 Gamers Central, Inc</span>
          </div>
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="footer-icon" href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="ms-3"><a class="footer-icon" href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="ms-3"><a class="footer-icon" href="#"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </footer>
      </div>
</body>
</html>