{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="col-8 offset-2 mt-2">
                <h5>Create your profile for everyone to see!</h5>
                <!-- <div class="row">
                    <div class="col-8">
                        {{user.userprofile.bio}}
                    </div> -->
                </div>
                <div class="col-8 offset-2 mt-5 form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-signup">Create Profile</button>
                    </form>
                </div>
{% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}