{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
            {% if user.is_authenticated %}
            <div class="col-12 mt-2 center">
                <div class="col-8 mt-1 offset-2 text-center">
                    <a href="{% url 'post_create' %}">
                        <button class="btn btn-create-post">
                            Create a post
                        </button>
                    </a>
                </div>
            </div>
        {% endif %}
        {% for post in post_list %}
        <div class="row post-section mt-3">
                <div class="col-1 offset-2 text-center d-none d-lg-block d-xl-block">
                    <div class="card box-shadow index-blue-card">
                        <div class="card-body post-section align-items-center justify-content-center">
                            <span class="vertical-votes">
                            {% if user.is_authenticated %}
                                {% if user in post.upvotes.all %}
                                    <form action="{% url 'post_up_vote' post.slug %}" class="d-inline vertical-votes" method="POST">
                                        {% csrf_token %}
                                         <button type="submit" name="post_id" value="{{post.slug}}" class="btn-thumbs btn thumbs" aria-label="like post">
                                        <span class="thumbs-up">
                                        <i class="fas fa-thumbs-up thumbs"></i>
                                        </span>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'post_up_vote' post.slug %}" class="d-inline vertical-votes" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn-thumbs btn thumbs" aria-label="unlike post">
                                            <span class="thumbs-up">
                                                <i class="far fa-thumbs-up"></i>
                                            </span>
                                        </button>
                                    </form>
                                {% endif %}
                                <p class="num-of-votes">
                                    {{post.total_votes}}
                                </p>
                                {% if user in post.downvotes.all %}
                                    <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn btn-thumbs thumps" aria-label="dislike post">
                                            <span class="thumbs-up">
                                                <i class="fas fa-thumbs-down"></i>
                                            </span>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn btn-thumbs thumbs" aria-label="undo dislike post">
                                            <span class="thumbs-up">
                                                <i class="far fa-thumbs-down"></i>
                                            </span>
                                        </button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <span class="vertical-vote-icons">
                                    <span class="thumbs"><i class="far fa-thumbs-up"></i></span>
                                    <p class="num-of-votes-vertical"> {{post.total_votes}}</p>
                                    <span class="thumbs"><i class="far fa-thumbs-down"></i></span>
                                </span>
                            {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            <div class="col-lg-7 offset-lg-0 col-sm-12 col-md-8 offset-md-2">
                <div class="card post-section box-shadow index-blue-card">
                    <div class="card-body">
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.excerpt }}</p>
                        </a>
                        <p class="card-text card-subheading"><small>Author:
                                {{post.author}}</small></p>
                        <p class="card-text card-subheading"><small>{{ post.created_date }}</small>
                        </p>
                    </div>
                    <div class="center-image">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="..." class="card-img-bottom" alt="...">
                        {% else %}
                        <a href="{% url 'post_detail' post.slug %}">
                            <img src="{{ post.featured_image.url }}" class="card-img-bottom box-shadow" alt="post-image">
                        </a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <div class="row mb-3">
            <div class="d-lg-none d-xl-none col-sm-12 col-md-8 offset-md-2 text-center">
                <div class="card index-blue-card mt-1">
                    <div class="card-body votes-section align-items-center justify-content-center">
                        {% if user.is_authenticated %}
                        <span class="index-horizontal-votes">
                            <form action="{% url 'post_up_vote' post.slug %}" class="d-inline" method="POST">
                                {% csrf_token %}
                                {% if user in post.upvotes.all %}
                                    <form action="{% url 'post_up_vote' post.slug %}" class="d-inline vertical-votes" method="POST">
                                        {% csrf_token %}
                                         <button type="submit" name="post_id" value="{{post.slug}}" class="btn thumbs" aria-label="like post">
                                        <span class="thumbs-up">
                                        <i class="fas fa-thumbs-up thumbs"></i>
                                        </span>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'post_up_vote' post.slug %}" class="d-inline vertical-votes" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn thumbs" aria-label="unlike post">
                                            <span class="thumbs-up">
                                                <i class="far fa-thumbs-up"></i>
                                            </span>
                                        </button>
                                    </form>
                                {% endif %}
                            </form>
                            <span class="num-of-votes">
                                {{post.total_votes}}
                            </span>
                            {% if user in post.downvotes.all %}
                                    <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn thumps" aria-label="dislike post">
                                            <span class="thumbs-up">
                                                <i class="fas fa-thumbs-down"></i>
                                            </span>
                                        </button>
                                    </form>
                            {% else %}
                                    <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn thumbs" aria-label="undo dislike post">
                                            <span class="thumbs-up">
                                                <i class="far fa-thumbs-down"></i>
                                            </span>
                                        </button>
                                    </form>
                            {% endif %}
                        </span>
                        {% else %}
                        <p class="horizontal-icons">
                        <span class="thumbs"><i class="far fa-thumbs-up"></i></span>
                        <span class="num-of-votes-horizontal"> {{post.total_votes}}</span>
                        <span class="thumbs"><i class="far fa-thumbs-down"></i></span>
                        </p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
            {% if forloop.counter|divisibleby:1%}
        <div class="row">
            {% endif %}
            {% endfor %}
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>

    </nav>
</div>
{% endif %}
{% endblock content %}