{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-2 center">
            <div class="card">
                <div class="card-body">
                    <p class="post-subtitle mt-2 text-muted">
                        <span>
                            <a href="{% url 'view_profile' user.userprofile.id %}" class="post-link">
                                <img src="{{ post.author.userprofile.profile_picture.url }}"
                                    class="post-profile-picture">
                            </a>
                        </span>
                        <a href="{% url 'view_profile' user.userprofile.id %}" class="post-link">{{ post.author }} </a>
                        | {{ post.created_date }}</p>
                    <h1 class="post-title">{{post.title}}</h1>
                </div>


                <div class="row">
                    <div class="col-12">
                        <p class="post-content">{{ post.content }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-1">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="" width="100%">
                        {% else %}
                        <img src=" {{ post.featured_image.url }}" width="100%" class="featured-image">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-2 mb-2">
                {% if user.is_authenticated %}
                <form action="{% url 'post_up_vote' post.slug %}" class="d-inline" method="POST">
                    {% csrf_token %}
                    {% if upvoted %}
                    <button type="submit" name="post_id" value="{{post.slug}}" class="thumbs-up"><span
                            class="thumbs-up">
                            <i class="fas fa-thumbs-up"></i></span></button>
                    {% else %}
                    <button type="submit" name="post_id" value="{{post.slug}}" class="thumbs-up"><span
                            class="thumbs-up">
                            <i class="far fa-thumbs-up"></i></span></button>
                    {% endif %}
                </form>

                <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                    {% csrf_token %}
                    {% if downvoted %}
                    <button type="submit" name="post_id" value="{{post.slug}}" class="thumbs-up"><span
                            class="thumbs-up">
                            <i class="fas fa-thumbs-down"></i></span></button>
                    {% else %}
                    <button type="submit" name="post_id" value="{{post.slug}}" class="thumbs-up"><span
                            class="thumbs-up">
                            <i class="far fa-thumbs-down"></i></span></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="thumbs-up"><i class="far fa-thumbs-up"></i></span>
                <span class="thumbs-up"><i class="far fa-thumbs-down"></i></span>

                {% endif %}
                <span class="thumbs-up">{{ post.number_of_upvotes }}</span>
                <span class="thumbs-up">{{ post.number_of_downvotes }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-1 mb-3">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is waiting to be approved!
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h5>What do you think? Leave a Comment:</h5>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup mt-1">Submit</button>
                </form>

                {% endif %}
                {% endif %}
            </div>
            <h4 class="comments-heading">Comments:</h4>
            <div class="mb-3 mt-1">
                {% for comment in comments %}
                <div class="comments">
                    <p class="post-comments">
                        <span>
                            <a href="{% url 'view_profile' user.userprofile.id %}" class="post-link">
                                <img src="{{ post.author.userprofile.profile_picture.url }}" class="post-comment-picture">
                            </a>
                        </span>
                        <a href="{% url 'view_profile' user.userprofile.id %}" class="post-link">
                        {{comment.name}}
                        </a>
                        <span class="text-muted">
                            {{comment.created_date}}
                        </span> says:
                    </p>
                    <span class="comments-body">
                        {{comment.body | linebreaks}}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock content %}