{% extends "base.html" %}

{% block content %}

        {% if searched %}
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 mt-2 center offset-2">
                        <h3 class="mt-2"> Results for {{ searched }}:</h3>
                        {% for post in posts %}
                        <div class="card box-shadow blue-card mt-2">
                            <div class="card-body">
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <p class="card-text card-subheading"><small>Author: {{post.author}}</small></p>
                                <p class="card-text card-subheading"><small>{{ post.created_date }}</small>
                                </p>
                            </div>
                            {% if "placeholder" in post.featured_image.url %}
                            <img src="..." class="card-img-bottom box-shadow" alt="placeholder image">
                            {% else %}
                            <img src="{{ post.featured_image.url }}" class="card-img-bottom box-shadow" alt="post featured image">
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-8 offset-2 mt-2 text-center blue-card">
                            <h1> Remember to search for a post! </h1>
                        </div>
                        
                        {% endif %}
                </div>
            </div>
        </div>
{% endblock %}