{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12 mt-2 center">
            <div class="card post-card">
                <div class="card-body">
                    <div class="edit-post mb-3">
                        {% if user.id == post.author.id %}
                        <a href="{% url 'post_update' post.slug %}">
                            <i class="fas fa-pen edit-icon"></i>
                        </a>
                        <a href="{% url 'post_delete' post.slug %}">
                            <i class="fas fa-trash edit-icon"></i>
                        </a>
                        {% endif %}
                    </div>
                    <p class="post-subtitle mt-3 text-small">
                        <span>
                            {% if post.author.userprofile.id %}
                            <a href="{% url 'view_profile' post.author.userprofile.id %}" class="post-link">
                                <img src="{{ post.author.userprofile.profile_picture.url }}" alt="The posts author profile picture"
                                    class="post-profile-picture">
                            </a>
                            {% else %}
                            <img src="https://res.cloudinary.com/djtwpo6g7/image/upload/v1669300916/Placeholder-profile_hebiah.png" alt="Gamers central placeholder profile picture" class="post-profile-picture">
                            {% endif %}
                        </span>
                        {% if post.author.userprofile.id %}
                        <a href="{% url 'view_profile' post.author.userprofile.id %}"
                            class="post-link post-heading">
                            {{ post.author }}
                        </a>
                        {% else %}
                            {{post.author}}
                        {% endif %}
                        | {{ post.created_date }} 
                    </p>
                    <h1 class="post-title">{{post.title}} </h1>

                    <div class="row">
                        <div class="col-12 mt-3 post-content">
                            <p>{{ post.content }}</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 mt-1">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="https://res.cloudinary.com/djtwpo6g7/image/upload/v1669409281/Placeholder-image-small_mjgwai.png" alt="Featured image placeholder" class="featured-image">
                        {% else %}
                        <img src=" {{ post.featured_image.url }}" class="featured-image" alt="Post featured image">
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-2 mb-2">
                        {% if user.is_authenticated %}
                            <form action="{% url 'post_up_vote' post.slug %}" class="d-inline" method="POST">
                                {% csrf_token %}
                                {% if upvoted %}
                                <button type="submit" name="post_id" value="{{post.slug}}" class="thumbs-up btn thumbs">
                                    <span class="thumbs-up">
                                        <i class="fas fa-thumbs-up thumbs"></i>
                                    </span>
                                </button>
                                {% else %}
                                <button type="submit" name="post_id" value="{{post.slug}}" class="thumbs-up btn thumbs">
                                    <span class="thumbs-up">
                                        <i class="far fa-thumbs-up"></i>
                                    </span>
                                </button>
                                {% endif %}
                            </form>
                            <span class="num-of-votes">
                                {{post.total_votes}}
                            </span>
                            <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                {% csrf_token %}
                                {% if downvoted %}
                                <button type="submit" name="post_id" value="{{post.slug}}" class="thumbs-up btn thumbs">
                                    <span class="thumbs-up">
                                        <i class="fas fa-thumbs-down"></i>
                                    </span>
                                </button>
                                {% else %}
                                <button type="submit" name="post_id" value="{{post.slug}}" class="thumbs-up btn thumbs">
                                    <span class="thumbs-up">
                                        <i class="far fa-thumbs-down"></i>
                                    </span>
                                </button>
                                {% endif %}
                            </form>
                        {% else %}
                        <span class="thumbs-up thumbs"><i class="far fa-thumbs-up"></i></span>
                        <span class="num-of-votes-horizontal"> {{post.total_votes}} </span>
                        <span class="thumbs-up thumbs"><i class="far fa-thumbs-down"></i></span>

                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3 mb-3">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is waiting to be approved!
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h4>What do you think? Leave a Comment:</h4>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup mt-1" aria-label="Submit Comment">Submit</button>
                    </form>

                    {% endif %}
                    {% endif %}
                </div>
                <h4 class="comments-heading">Comments:</h4>
                <div class="mb-3 mt-1">
                    {% for comment in comments %}
                    <div class="comments">
                        <p class="post-comments">
                            <span>
                                {% if comment.author.userprofile.id %}
                                <a href="{% url 'view_profile' comment.author.userprofile.id %}" class="comment-link" aria-label="Comment authors profile">
                                    {% endif %}
                                {% if comment.author.userprofile.profile_picture %}
                                    <img src="{{ comment.author.userprofile.profile_picture.url }}"
                                        class="post-comment-picture" alt="Comment author profile picture">
                                {% else %}
                                    <img src="https://res.cloudinary.com/djtwpo6g7/image/upload/v1669300916/Placeholder-profile_hebiah.png" 
                                        class="post-comment-picture" alt="Users placeholder profile picture">
                                {% endif %}
                                </a>
                            </span>
                            {% if comment.author.userprofile.id %}
                            <a href="{% url 'view_profile' comment.author.userprofile.id %}" class="comment-link" aria-label="Comment authors profile">
                            {% endif %}
                                {{comment.name}}
                            </a>
                            <span class="text-muted">
                                {{comment.created_date}}
                            </span> says:
                        </p>
                        <span class="comments-body">
                            {{comment.body | linebreaks}}
                        </span>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
        {% endblock content %}