{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <div class="card mt-3 box-shadow profile-blue-card">
                    {% if userprofile.profile_picture %}
                        <img src="{{ userprofile.profile_picture.url }}" class="profile-picture" alt="Users Profile Picture">
                    {% else %}
                        <!-- <img src="{{ userprofile.profile_picture.url }}" class="profile-picture"> -->
                    {% endif %}
                <h5 class="user-profile-title"> {{ userprofile.user }}</h5>
                <p class="user-profile-bio"> {{ userprofile.bio }}</p>
                <div class="mt-4">
                    <h6 class="user-profile-socials"> Check out my socials here:</h6>
                    <ul class="list-unstyled d-flex">

                        {% if userprofile.websiste_url %}
                        <li class="ms-3">
                            <a class="profile-icon" href="{{ userprofile.website_url }}" target="_blank" aria-label="users website">
                                <i class="fab fa-globe"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if userprofile.twitter_url %}
                        <li class="ms-3">
                            <a class="profile-icon" href="{{ userprofile.twitter_url }}" target="_blank" aria-label="users twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if userprofile.instagram_url %}
                        <li class="ms-3">
                            <a class="profile-icon" href="{{ userprofile.instagram_url }}" target="_blank" aria-label="users instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if userprofile.facebook_url %}
                        <li class="ms-3">
                            <a class="profile-icon" href="{{ userprofile.facebook_url }}" target="_blank" aria-label="users facebook">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
        
        <div class="col-lg-7 col-sm-12">
            <div class="row">
                {% for post in user_posts %}
                <div class="col-2 text-center mt-3 d-sm-none d-md-block d-none d-sm-block">
                    <div class="card profile-votes-section box-shadow profile-blue-card">
                        <div class="card-body vertical-votes">
                            {% if user.is_authenticated %}
                            {% if user in post.upvotes.all %}
                                    <form action="{% url 'post_up_vote' post.slug %}" class="d-inline vertical-votes" method="POST">
                                        {% csrf_token %}
                                         <button type="submit" name="post_id" value="{{post.slug}}" class="btn-thumbs btn thumbs" aria-label="like post">
                                        <span class="thumbs-up">
                                        <i class="fas fa-thumbs-up thumbs"></i>
                                        </span>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'post_up_vote' post.slug %}" class="d-inline vertical-votes" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn-thumbs btn thumbs" aria-label="undo like post">
                                            <span class="thumbs-up">
                                                <i class="far fa-thumbs-up"></i>
                                            </span>
                                        </button>
                                    </form>
                                {% endif %}
                            <p class="num-of-votes">
                                {{post.total_votes}}
                            </p>
                            {% if user in post.downvotes.all %}
                                    <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn btn-thumbs thumps" aria-label="dislike post">
                                            <span class="thumbs-up">
                                                <i class="fas fa-thumbs-down"></i>
                                            </span>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}" class="btn btn-thumbs thumbs" aria-label="undo dislike post">
                                            <span class="thumbs-up">
                                                <i class="far fa-thumbs-down"></i>
                                            </span>
                                        </button>
                                    </form>
                                {% endif %}
                            {% else %}
                            <span class="thumbs-up thumbs"><i class="far fa-thumbs-up"></i></span>
                            <p class="num-of-votes-horizontal"> {{post.total_votes}} </p>
                            <span class="thumbs-up thumbs"><i class="far fa-thumbs-down"></i></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 mt-3 ">
                        <div class="card profile-post-section box-shadow profile-blue-card">
                            <div class="card-body">
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <p class="card-text card-subheading"><small>Author: {{post.author}}</small></p>
                                <p class="card-text card-subheading"><small>{{ post.created_date }}</small>
                                </p>
                            </div>
                            {% if "placeholder" in post.featured_image.url %}
                            <img src="..." class="card-img-bottom" alt="...">
                            {% else %}
                            <img src="{{ post.featured_image.url }}" class="card-img-bottom" alt="">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 d-md-none text-center mt-1">
                        <div class="card box-shadow profile-blue-card">
                            <div class="card-body votes-section align-items-center justify-content-center">
                                {% if user.is_authenticated %}
                                <span class="horizontal-votes">
                                    {% if user in post.upvotes.all %}
                                    <form action="{% url 'post_up_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}"
                                            class="btn-thumbs btn thumbs" aria-label="like post">
                                            <span class="thumbs-up">
                                                <i class="fas fa-thumbs-up thumbs"></i>
                                            </span>
                                        </button>
                                    </form>
                                    {% else %}
                                    <form action="{% url 'post_up_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}"
                                            class="btn-thumbs btn thumbs" aria-label="undo like post">
                                            <span class="thumbs-up">
                                                <i class="far fa-thumbs-up"></i>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                    <span class="num-of-votes">
                                        {{post.total_votes}}
                                    </span>
                                    {% if user in post.downvotes.all %}
                                    <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}"
                                            class="btn btn-thumbs thumps" aria-label="dislike post">
                                            <span class="thumbs-up">
                                                <i class="fas fa-thumbs-down"></i>
                                            </span>
                                        </button>
                                    </form>
                                    {% else %}
                                    <form action="{% url 'post_down_vote' post.slug %}" class="d-inline" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{post.slug}}"
                                            class="btn btn-thumbs thumbs" aria-label="undo dislike post">
                                            <span class="thumbs-up">
                                                <i class="far fa-thumbs-down"></i>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                </span>
                                {% else %}
                                <span class="thumbs-up thumbs"><i class="far fa-thumbs-up"></i></span>
                                <span class="num-of-votes-horizontal"> {{post.total_votes}} </span>
                                <span class="thumbs-up thumbs"><i class="far fa-thumbs-down"></i></span>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1%}
            <div class="row">
                {% endif %}
                {% endfor %}
        </div>
        
        
    </div>
</div>


{% endblock %}